<md-toolbar color="primary" class="app-toolbar">
    <button *ngIf="isHamburgerVisible" class="hamburger" md-button (click)="toggleSideNav()"><md-icon>menu</md-icon></button>
    <span><a class="nav-link" aioNavLink="api"> API </a></span>
    <span><a class="nav-link" aioNavLink="home"> Home </a></span>
    <span><a class="nav-link" aioNavLink="news"> News</a></span>
    <span><a class="nav-link" aioNavLink="features"> Features</a></span>
    <span><a class="nav-link" aioNavLink="api/common/date-pipe"> DatePipe</a></span>
    <span class="fill-remaining-space"></span>
</md-toolbar>

<aio-sidenav></aio-sidenav>

